@media only screen and (max-width: 780px) { /*Mobile Saveliy Mizerovskiy*/
    .images {
      display: grid;
      grid-template-columns: 1;
      grid-template-rows: auto;
      column-gap: 10px;
      row-gap: 20px;
      height: 100%;
    }
  } 

  @media only screen and (min-width: 780px) { /* Wider screens Saveliy Mizerovskiy*/
    .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 20px;
    }
    
    
  } 
img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1{
    color: #fff;
}
h2{
    color: #fff;
}
h3{
    color: #fff;
}
h6{
    color: darkgoldenrod;
}
.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/background.JPG);
    background-position: center;
    background-size:cover;
    
}
.navbar{
    padding-top: 40px;
    padding-bottom: 40px;
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    all: unset;
    width: 200px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
p{
    color: #fff;
}
a{
    color:#c4c2bb;
}